<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lista de Empresas - Ciclo 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>Lista de Empresas</h1> <!-- Titulo (header numero 1) -->

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>NIT</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>

    </table>



</div>


</body>
</html>